.custom-tooltip {
    width: 39px;
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    background-color: #e60000;
}

.value {
    font-size: 7px;
}

.daily-activity-legend {
    position: absolute;
    width: 295px;
    right: 0;
    top: 0;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #74798c;
}

.daily-activity-legend p {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-circle {
    margin-right: 1em;
}

.icon-black {
    background-color: #282d30;
}

.icon-red {
    background-color: #e60000;
}
