@font-face {
    font-family: 'Roboto';
    src: url(./utils/Font/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url(./utils/Font/Roboto-Bold.ttf) format('truetype');
}

#root {
    font-family: 'Roboto';
    width: 1440px;
    height: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 226px auto;
    grid-template-rows: 91px auto;
}

@media screen and (max-width: 1024px) {
    body {
        margin: 0;
    }
    #root {
        width: 1024px;
        height: 768px;
        grid-template-columns: 80px 944px;
        grid-template-rows: 63px 705px;
        margin: none;
    }
}
